*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #1488cc;
  /* fallback for old browsers */
  background: linear-gradient(to left, #283593, #1976d2);
  height: 100vh;
  font-family: "Montserrat", sans-serif;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

/* Background circles start */
.circle {
  position: absolute;
  border-radius: 50%;
  background: radial-gradient(#006db3, #29b6f6);
}

.circles {
  z-index: -1;
  position: absolute;
  height: 270px;
  width: 450px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.circle-1 {
  height: 180px;
  width: 180px;
  top: -50px;
  left: -60px;
}

.circle-2 {
  height: 200px;
  width: 200px;
  bottom: -90px;
  right: -90px;
  opacity: 0.8;
}

/* Background circles end */

.main {
  border-radius: 16px;
  width: 60%;
  height: 60%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: rgba(11, 37, 89, 0.81);
  border-radius: 16px;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.main.hidden {
  opacity: 0;
  transform: translateY(20px);
}

.main__form,
.options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 20px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
}

.options {
  padding: 0;
  width: 50%;
}

.main__register {
  border-radius: 16px 0 0 16px;
  background: rgba(159, 193, 49, 0.5);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.7px);
  -webkit-backdrop-filter: blur(2.7px);
  border: 1px solid rgba(159, 193, 49, 1);
}

.show__none {
  display: none;
}

.show {
  display: block;
}

.main__login {
  border-radius: 0 16px 16px 0;
  background: rgba(15, 194, 192, 0.69);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.7px);
  -webkit-backdrop-filter: blur(2.7px);
  border: 1px solid rgba(15, 194, 192, 1);
}

.form {
  width: 100%;
}

/* REGISTER */
.form__title {
  margin-bottom: 25px;
  color: #ffffffbf;
  text-align: center;
}

.form__group {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  text-align: left;
  justify-content: space-evenly;
  align-items: center;
}

.form__label,
.form__input {
  font-size: 14px;
}

.form__label {
  display: block;
  margin-bottom: 5px;
  color: #fff;
  width: 25%;
}

.form__input {
  width: 100%;
  padding: 10px;
  border: 1px solid rgba(11, 37, 89, 0.81);
  border-radius: 4px;
  box-sizing: border-box;
  color: #333333ca;
}

.form__input:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(11, 37, 89, 0.81);
}

.form__button {
  margin-top: 20px;
  width: 50%;
  padding: 10px;
  background-color: rgba(11, 37, 89, 0.81);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
}

.form__button:hover {
  background-color: #003d82;
}

.options__button--login {
  color: rgba(11, 37, 89, 0.9);
  background-color: rgba(159, 193, 49, 0.8);
}

.options__button--login:hover {
  background-color: rgba(159, 193, 49, 1);
}

.options__button--register {
  color: rgba(11, 37, 89, 0.9);
  background-color: rgba(15, 194, 192, 0.69);
}

.options__button--register:hover {
  background-color: rgba(15, 194, 192, 0.8);
}

/* MODAL */
/* Estilo para el modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgba(1, 65, 91, 0.64);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

.modal-content {
  margin: 15% auto;
  padding: 20px;
  width: 50%;
  max-width: 600px;
  position: relative;
  background: rgba(11, 37, 89, 0.81);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.7px);
  -webkit-backdrop-filter: blur(5.7px);
  border: 1px solid rgba(166, 188, 9, 1);
}

.close {
  color: #fff;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.data__user {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.data__label {
  width: 100%;
  text-align: left;
  margin-bottom: 15px;
}
