* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  margin: 20px 0;
  font-family: Arial, sans-serif;
  color: #333;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #f2f2f2;
  color: #333;
  font-family: Arial, sans-serif;
  border: 1px solid #ccc;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

th,
td {
  padding: 8px 12px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

th,
tfoot {
  background-color: #4CAF50;
  color: white;
}

tr:hover {
  background-color: #ddd;
}