*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* https://dribbble.com/shots/20571310-Calculator-Calculator-Design# */

body {
  background: #091921;
}

/* CSS backgroun Glass */
.background {
  width: 530px;
  height: 320px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

.background .shape {
  height: 200px;
  width: 200px;
  position: absolute;
  border-radius: 50%;
}

.shape:first-child {
  background: linear-gradient(#1845ad, #23a2f6);
  left: -80px;
  top: -80px;
}

.shape:last-child {
  background: linear-gradient(to right, #ff512f, #f09819);
  right: -30px;
  bottom: -80px;
}
/* end css Glass */

/* css main */
.main {
  background-color: #202e3e77;
  /* center main */
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  min-height: 90vh;
  width: 25%;
  border-radius: 30px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 10px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}

.main * {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}

.card__header,
.card__button--historial {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 10px;
}

.button__historial {
  background: linear-gradient(120deg, #102e44 10%, #184b78 60%);
  padding: 7px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px 15px 15px 0;
  cursor: pointer;
  font-size: 1em;
  font-weight: 400;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.button__historial:hover {
  background: linear-gradient(120deg, #102e44 10%, #377fdc 60%);
}

.button__historial--trash {
  border-radius: 15px;
  background: linear-gradient(120deg, #442d10 10%, #d8310f 60%);
}

.button__historial--trash:hover {
  background: linear-gradient(120deg, #644219 10%, #d74426 60%);
}
.title__calculator {
  text-align: center;
  font-size: 1em;
}

.title__company {
  color: #f09819;
}

/* calculadora */
.calculator {
  flex: 1;
  margin: 10px 0;
  overflow: auto;
}

.calculator {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
  padding: 0 10px;
  flex: 1;
}

/* pantalla de la calculadora */

.output {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 10px;
  flex: 1;
}

.output__operation,
.input__data {
  flex-grow: 1;
  width: 100%;
}

.output__operation {
  display: flex;
  justify-content: flex-end; /* Alinea el contenido a la derecha */
  align-items: flex-end;
}

.output__operation-inner {
  text-align: right;
  font-size: 30px;
  color: #806e6e;
  font-weight: 200;
  overflow-x: auto;
  white-space: nowrap;
  min-width: 100%;
  padding: 10px 0;
}

.input__data {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  border-top: 1px solid #855959;
  text-align: right;
  cursor: text;
  font-size: 45px;
  font-weight: 300;
  background-color: transparent;
  padding: 15px 0;
}

/* botones calculadora */
.button {
  border-radius: 20px;
  font-family: sans-serif;
  background: linear-gradient(145deg, rgb(14, 18, 30), #184c78);
  box-shadow: inset 1px 0 2px #fffcfc85, inset -2px -2px 1px #242121d5,
    2px 2px 5px 0 rgba(0, 0, 0, 0.4);
  outline: none;
  cursor: pointer;
  color: #fff;
  font-size: 1.5em;
  cursor: pointer;
  padding: 20px 30px;
  font-weight: 400;
}

.operation {
  background: linear-gradient(120deg, #812808 10%, #fa4200 60%);
}

.especial {
  background: linear-gradient(120deg, #2b3547 10%, #495b7c 60%);
}

.button__cero {
  border-radius: 20px;
  grid-column: span 2;
}

.button:hover {
  background: linear-gradient(120deg, #101f3c 10%, #377fdc 60%);
}

.operation:hover {
  background: linear-gradient(120deg, #84530e 10%, #f09819 60%);
}

.especial:hover {
  background: linear-gradient(120deg, #3b4e63 10%, #6e85aa 60%);
}

/* Estilos para la cajahistorial */
.historial__card {
  position: absolute;
  top: 0;
  left: 100%; /* Comienza fuera de la pantalla */
  width: 100%;
  height: 100%;
  background: rgba(1, 35, 64, 0.65);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.3px);
  -webkit-backdrop-filter: blur(6.3px);
  border: 1px solid rgba(1, 35, 64, 0.3);
  transition: left 0.5s ease;
  z-index: 10;
  border-radius: 30px;
  padding: 10px 15px 0;
}

/* HISTORIAL */
.historial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px 0;
  width: 100%;
  height: 90%;
}

/* css para la lista de historial */

.historial__list {
  overflow-y: auto;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.historial__item {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  width: 100%;
  border-radius: 10px;
}

.first__item,
.historial__item--content {
  background: #b06f14;
  padding: 10px;
  margin: 5px 0;
  width: 100%;
  text-align: center;
  border-radius: 10px;
  color: #fff;
}

.historial__item--content {
  overflow-x: auto;
}

.historial__button {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
}

.historial__button--restore {
  background: linear-gradient(120deg, #3b4e63 10%, #6e85aa 60%);
}

.historial__button--restore:hover {
  background: linear-gradient(120deg, #5a799c 10%, #2073f9 60%);
}

.historial__button--delete {
  background: linear-gradient(120deg, #442d10 10%, #d8310f 60%);
}

.historial__button--delete:hover {
  background: linear-gradient(120deg, #81541c 10%, #f1411e 60%);
}

/* Media query para Kindle 800x1200 */
@media (max-width: 412px) and (max-height: 915px) {
  .background {
    width: 90%;
    height: 100%;
    height: auto;
  }

  .background .shape {
    height: 150px;
    width: 150px;
  }

  .main {
    width: 90%;
    height: auto;
    font-size: 16px;
  }

  .calculator {
    grid-gap: 5px;
  }

  .button,
  .button__historial {
    padding: 5px 30px;
    font-size: 25px;
  }

  .input__data {
    font-size: 50px;
  }

  .output__operation-inner {
    font-size: 40px;
  }
}

/* Media query para Kindle 800x1200 */
@media (min-width: 413px) and (max-width: 810px) and (min-height: 916px) and (max-height: 1280px) {
  .background {
    width: 90%;
    height: auto;
  }

  .background .shape {
    height: 250px;
    width: 250px;
  }

  .shape:first-child {
    left: -10px;
    top: -95px;
  }

  .shape:last-child {
    right: -20px;
    bottom: -15px;
  }
  .main {
    width: 70%;
    height: auto;
    font-size: 25px;
  }

  .calculator {
    grid-gap: 10px;
  }

  .button,
  .button__historial {
    padding: 10px 50px;
    font-size: 30px;
  }

  .input__data {
    font-size: 70px;
  }

  .output__operation-inner {
    font-size: 60px;
  }
}
