*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* https://dribbble.com/shots/20571310-Calculator-Calculator-Design# */

body {
  background: #091921;
}

/* CSS backgroun Glass */
.background {
  width: 530px;
  height: 320px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

.background .shape {
  height: 200px;
  width: 200px;
  position: absolute;
  border-radius: 50%;
}

.shape:first-child {
  background: linear-gradient(#1845ad, #23a2f6);
  left: -80px;
  top: -80px;
}

.shape:last-child {
  background: linear-gradient(to right, #ff512f, #f09819);
  right: -30px;
  bottom: -80px;
}
/* end css Glass */

/* css main */
.main {
  background-color: #202e3e77;
  /* center main */
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  min-height: 90vh;
  border-radius: 30px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 20px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.main * {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}

.card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 10px;
}

.button__historial {
  background: linear-gradient(120deg, #102e44 10%, #184b78 60%);
  padding: 7px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px 15px 15px 0;
  cursor: pointer;
  font-size: 1em;
  font-weight: 400;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.button__historial svg {
  fill: #fff;
}

.title__calculator {
  text-align: center;
  font-size: 1em;
}

.title__company {
  color: #f09819;
}

/* calculadora */
.output,
.calculator {
  flex: 1;
  margin: 10px 0;
  overflow: auto;
}

.output {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.calculator {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 6px;
  padding: 10px;
  /* background-color: #f09819; */
}

.output__operation,
.output__result {
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 50px;
  width: 100%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 200;
}

.output__operation {
  flex: 1;
  font-size: 25px;
  color: #ffffff;
  opacity: 0.5;
}

/* botones calculadora */
.button {
  border-radius: 20px;
  font-family: sans-serif;
  background: linear-gradient(145deg, rgb(14, 18, 30), #184c78);
  box-shadow: inset 1px 0 2px #fffcfc85, inset -2px -2px 1px #242121d5,
    2px 2px 5px 0 rgba(0, 0, 0, 0.4);
  outline: none;
  cursor: pointer;
  color: #fff;
  font-size: 1.5em;
  cursor: pointer;
  padding: 15px;
  font-weight: 400;
}

.operation {
  background: linear-gradient(120deg, #812808 10%, #fa4200 60%);
}

.especial {
  background: linear-gradient(120deg, #2b3547 10%, #495b7c 60%);
}

.button__cero {
  border-radius: 20px;
  grid-column: span 2;
}

.button:hover {
  background: linear-gradient(120deg, #101f3c 10%, #377fdc 60%);
}

.operation:hover {
  background: linear-gradient(120deg, #84530e 10%, #f09819 60%);
}

.especial:hover {
  background: linear-gradient(120deg, #3b4e63 10%, #6e85aa 60%);
}
